<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>
<body>
    <% let isTrue = true; %>
    <h1>Playground</h1>
    <ul>
        <!-- rendering the loop -->
        <% for (let i = 1; i < 6; i++) { %>
        <li>
            <%= i %>
        </li>
        <% } %>
    </ul>

    <!-- rendering if else statement -->
    <% if (isTrue) { %>
        <h1>It's True Statemnet</h1>
    <% } else { %>
        <h1>It's False Statement</h1>
    <% } %>
</body>
</html>